:root {
  --bg: #e6eaec;
  --text: #322E46;
  --text-button: #FFF;
  --bg-button: #2A2F4F;
  --bg-btngeneral: linear-gradient(0deg, rgba(41, 66, 115, 1) 0%, rgba(23, 45, 86, 1) 100%);
  --bg-input: #FFF;
  --bg-btnselect: #FFF;
  --bg-select: #E5ECF2;
  --bg-content: #F3F8FB;
  --bg-title: #EEEEEC;
  --br-input: #322E46;
  --br-content: #c9c9c9;
  --br-recommendation: 1px dashed #322E46;
  --green: green;
  --url: blue;
  --box-textarea: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}

:root.dark {
  --bg: #1D2025;
  --text: #D9D9D9;
  --bg-button: #181717;
  --bg-btngeneral: #181717;;
  --bg-btnselect: #282C2F;
  --bg-select: #282C2F;
  --bg-title: #1D2025;
  --bg-content: #2C3033;
  --br-input: #7F8386;
  --br-recommendation: 1px dashed #7F8386;
  --br-content: #3d3d3d;
  --green: #0F0;
  --url: #FFF;
  --box-textarea: rgba(165, 165, 165, 0.2) 0px 0px 15px;
}

body {
  background-color: var(--bg);
  margin: 30px;
  transition: 0.3s ease;
}

h1,
h2,
h3,
h4,
span,
p,
input,
select,
option,
textarea {
  color: var(--text);
  transition: 0.3s ease;
}

input {
  background-color: var(--bg-input);
  border: 1px solid var(--br-input);
  border-radius: 5px;
}

button {
  color: var(--text-button);
  transition: 0.3s ease;
}

.green{
    color: var(--green);
}

.red{
    color: #F00;
}

.tx_url{
  color: var(--url);
}

.c_title{
  background-color: var(--bg-title);
}

.c_materia,
.c_results {
  background-color: var(--bg-content);
  border: 2px dashed var(--br-content);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.bt_agregar,
.bt_recommend,
.bt_delete {
  border-radius: 10px;
  border: none;
  background: var(--bg-btngeneral);
}

.bt_clean {
  color: var(--text);
}

.bt_select {
  color: var(--text);
  background-color: var(--bg-btnselect);
  border-radius: 5px;
  border: 1px solid var(--br-input);
}

.in_selection {
  border: 1px solid var(--br-input);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 3px -1px inset;
  background-color: var(--bg-select);
}

.bt_togglemode {
  border: none;
  background-color: var(--bg-button);
}

button:hover,
select:hover {
  cursor: pointer;
}

.bt_select:hover,
select:hover {
  filter: brightness(0.95);
}

.bt_agregar:hover,
.bt_delete:hover,
.bt_togglemode:hover,
.bt_recommend:hover {
  filter: brightness(1.3);
}

.ta_objectives{
  color: var(--text);
  background-color: var(--bg-select);
  border: 1px solid var(--br-input);
  transition: 0.3s ease;
}

.ta_objectives:focus{
  transition: 0.3s ease;
  outline: none;
  box-shadow: var(--box-textarea)
}

.c_recommendation{
  border: var(--br-recommendation);
}

/* RESPONSIVIDAD */
/* Teléfonos pequeños */
@media (max-width: 480px) {
  body{
    background-color: #0F0;
  }
}

/* Teléfonos */
@media (max-width: 768px) {

}

/* Tablets */
@media (max-width: 1024px) {

}

/* Laptops */
@media (max-width: 1280px) {

}

/* Pantallas grandes */
@media (min-width: 1281px) {

}